.logo-container {
  height: 40px;
  width: 250px;
}
.nav-bar {
  background-color: #fff;
  padding: 20px;
  border-bottom: 1px solid $dark-grey;
}
.nav-link > a {
  text-decoration: none;
  color: $dark-grey;
  padding: 10px;
  letter-spacing: 2px;
  font-size: 12px;
}

@media (min-width: 1017px) {
	.nav-bar,
	.main-nav {
		display: flex;
	}
	.nav-bar {
		flex-direction: column;
		align-items: center;
    .nav-bar{
		  width: 80%;
		  margin: 0 auto;
		  max-width: 1150px;
	  }
	}
}

@media (min-width: 1018px) {
	.nav-bar {
		flex-direction: row;
		justify-content: space-between;
	}
}