@import url('https://cdn.jsdelivr.net/npm/dubai-font@1.0.1/dubai-font/css/dubai-font.css');

// Typography
$body-font: 'Dubai-Light';
$header-font: 'Dubai-Light';

//Colors
$white: #f0f0f0;
$black: #000;
$transparent-white: rgba($color: #fff, $alpha: 0.7);
$green: #37A600;
$blue: #0025d7;
$dark-grey: #0A2E36;